<div class="card-deck">
  <% for (request of requestQueue) { %>
  <div class="card">
    <div class="card-header">
      <h5><%=request.title%></h5>
      <h6 class="request-performer"><%=request.performer%></h6>
    </div>
    <div class="card-body">
      <blockquote class="request-message">
        <p><%=request.message%></p>
        <footer class="blockquote-footer"><%=request.requester%>, <%=request.date%></footer>
      </blockquote>
      <form class="dj-buttons" action="/admin" method="post">
          <input class="btn" type="submit" name="djAction" value="Spela"/>
          <input type="hidden" name="id" value="<%=request.id%>"/>
      </form>
    </div>
  </div>
  <% } %>
</div>
